@import "../../../assets/scss/variables";
.ant-input {
    background: #fff!important;
    color: #000!important;
    border-radius: 3px;
}

.ant-input-password {
    border-radius: 3px;

    .ant-input {
    }
}

.ant-checkbox {
    &:hover {
        border: none;
    }
    top: 0.1em;
    .ant-checkbox-inner{
        width: 20px;
        height: 20px;
        &::after{
            left: 30.5%;
        }
    }
}
.ant-checkbox-checked {
    .ant-checkbox-inner {
        background: $mainColor;

        border: 0;
    }
    &:after {
        border: none;
    }
}
