@import "../../../assets/scss/variables";
.loginForm{
  .formWrapper{
    &__logo{
      .slogan{
        letter-spacing: 1.57px;
      }
    }
    .error {
      color: $colorError;
    }
    input{
      border-radius: 3px;
    }
    .drop{
      top: 30%;
    }
  }
}