.modalDeleteWrap {
    .text {
        color: #606266;
        font-size: 16px;
    }

    .btnDelte {
        color: #fff;
        background-color: #f56c6c;
        border-color: #f56c6c;
    }

    .btnClose {
        background: #a6a9ad;
        border-color: #a6a9ad;
        color: #fff;
    }
}
