@import "../../assets/scss/variables";
.boxMainLayout {
    background-color: #f2f4f7;
    background-image: url("../../../src/assets/images/Background/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .headerBox {
        height: 60px;
        background: #ffffff;
        margin-bottom: -60px;
    }

    .footerBox {
        height: 60px;
        background: #2F4858;
        margin-top: -60px;
    }
}
.mainLayoutWrap {
    max-width: 1024px;
    margin: auto;
    .mainWrap {
        width: calc(100% - 250px);
        margin-left: 250px;
        transition: all 0.5s;
        height: 100vh;

        .mainContentWrap {
            height: calc(100% - 60px - 60px);
            overflow-y: auto;
            background-color: #f2f4f700;
            //padding: 10px 15px;

            &::-webkit-scrollbar {
                width: 7px;
                transition: all 2s;
            }
            &::-webkit-scrollbar-track {
                background: rgba(217, 219, 226, 0);
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(119, 111, 111, 0.42);
                border-radius: 8px;
                transition: all 2s;
            }
        }
    }

    .mainWrapWithConditionSideBarClose {
        width: calc(100% - 64px);
        margin-left: 64px;
    }

    @media only screen and (max-width: 375px) {
        .mainWrap {
            width: calc(100% - 64px);
            margin-left: 64px;
            transition: all 0.5s;
            height: 100vh;
        }
        .mainWrapWithConditionSideBarClose {
            width: calc(100%);
            margin-left: 0;
        }
    }
}
