.modalInfoWrap {
    margin: -12px -16px;
    min-width: 230px;

    .headerModalInfoWrap {
        padding: 15px;
        border-bottom: 1px solid #F4F4F4;
        display: flex;
        align-items: center;

        .contentHeaderModalInfoWrap {
            margin-left: 15px;
            font-size: 16px;

            p {
                margin: 0;
            }

            .name {
                font-weight: 500;
            }

            .description {
                font-size: 14px;
                color: #A1A5B7;
            }
        }
    }

    .mainModalInfoWrap {
        padding: 15px;

        .menuInfoWrap {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 10px;

            .itemInfoWrap {
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                font-weight: 400;
                font-size: 14px;
                transition: all 0.3s;

                &:hover {
                    background-color: #F9F9F9;
                    color: #009ef7;
                }
            }
        }
    }
}
