@import "../../../assets/scss/variables";
.modalCreateOrUpdateUser {
    .formWrap {
        .inputWrap {
            width: 100%;
            margin-bottom: 10px;

            .labelWrap {
                font-weight: 600;
                margin-bottom: 5px;
                font-size: 14px;
            }

            .required {
                color: $colorError;
            }

            .input {
                margin-bottom: 5px;
                border-radius: 3px;
            }

            .error {
                color: $colorError;
            }
        }
    }

    .btnSave {
        color: #fff;
        border-color: #1890ff;
        background: #1890ff;
    }

    .btnClose {
        background: #a6a9ad;
        border-color: #a6a9ad;
        color: #fff;
    }
}
